<div class="col-sm">
  <div class="card">
    <img class="card-img-top" [src]="hero.imagePath" alt="{{ hero.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ hero.name | uppercase }}</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
    <ul class="list-group list-group-flush"
    *ngFor="let powerstat of hero.powerstats | keyvalue">
      <li class="list-group-item">{{ powerstat.key | titlecase }} <span>{{ powerstat.value == "null" ? 0 : powerstat.value }}</span></li>
    </ul>
    <div class="card-body">
      <button class="btn btn-info" *ngIf="!isJoiningUp" disabled>More details</button>
      <button class="btn btn-danger" *ngIf="!isJoiningUp" (click)="onExpel(hero)">Expel</button>
      <button class="btn btn-success" *ngIf="isJoiningUp" (click)="onJoinUp(hero)">Join up!</button>
    </div>
  </div>
</div>